.third-section-container {
    width: 100%;
    padding-top: 80px;
    background-color: #fe2a2e;
    color: white;
    margin-top: 50px;
    padding-bottom: 80px;
}

.third-section-title {
    margin: 0 50px;
}

.third-section-title h2 {
    font-size: 80px;
    margin: 0;
    padding: 0;
}

.how-to-buy {
    margin: 20px 50px;
}

.buy-item {
    display: flex;
    align-items: center;
    font-size: 36px;
    margin: 40px 0;
}

.buy-number-container {
    width: 8%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
}

.buy-number {
    background: #303c90;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.buy-description {
    width: 90%;
}

@media (max-width: 1250px) {
    .third-section-container {
        padding-top: 70px;
        margin-top: 40px;
        padding-bottom: 70px;
    }
    .third-section-title h2 {
        font-size: 60px;
    }
    .buy-item {
        font-size: 32px;
    }
}

@media (max-width: 800px) {
    .third-section-title h2 {
        font-size: 54px;
    }
    .buy-item {
        font-size: 26px;
        margin: 30px 0;
    }
    .third-section-container {
        padding-top: 50px;
        margin-top: 30px;
        padding-bottom: 70px;
    }
    .buy-number-container {
        width: 80px;
    }
}

@media (max-width: 520px) {
    .third-section-title h2 {
        font-size: 40px;
    }
    .third-section-title {
        margin: 0 40px;
    }
    .buy-item {
        font-size: 22px;
        margin: 20px 0;
    }
    .third-section-container {
        padding-top: 50px;
        margin-top: 28px;
        padding-bottom: 40px;
    }
    .buy-number-container {
        width: 70px;
    }
    .buy-number {
        width: 40px;
        height: 40px;

    }
}